button {
  font-size: 25px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(255, 213, 136);
  box-shadow: 2px 3px 4px;
  cursor: pointer;
}

button.restar {
  background-color: lightcoral;
}
button.sumar {
  background-color: lightblue;
}
.App {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100svh;
}

.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.btnDiv {
  display: flex;
  gap: 30px;
}
